/* 
#INDEX
--- Global Attributes
--- Line 46- Home Page Component
--- Line 152 - Survival Page Component
--- Line 153 - Survial Page and Classic Page Components Joint Decelartions
--- Line 169 - Survial Page and Classic Page Components Joint Decelartions 
--- Line 207 - Survial Page and Classic Page Components Joint Decelartions 
--- Line 253 - Classic Page Component
 */

/* Global Attributes */

:root {
  --3d-font: 'Press Start 2P', cursive;
  --btn-alpha: #155799;
  --btn-beta: #f2994a;
  --btn-secondary: #eeeeee;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: 'Poppins', sans-serif;
}

button {
  cursor: pointer;
  padding: 1em 2em;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.9em;
  font-family: var(--3d-font);
}

a {
  text-decoration: none;
  color: initial;
}

/* Home Component */

.home-page {
  height: 100vh;
  background: lightblue url(./assets/park-troopers-RAtKWVlfdf4-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.home-page .text {
  text-transform: uppercase;
  margin-top: 7em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.home-page .text h1 {
  font-family: var(--3d-font);
  font-size: 4.8rem;
  margin-bottom: -0.5rem;
}

.home-page .buttons button {
  width: 100%;
  font-weight: 700;
  margin-bottom: 1.5em;
}

.home-page .buttons button:target {
  box-shadow: rgb(255, 255, 255) 10px 10px 0px -3px, rgb(31, 193, 27) 10px 10px;
}

.btn {
  border: 2px solid var(--btn-alpha);
  color: var(--btn-alpha);
  background-color: var(--btn-secondary);
  transition: all 0.25s ease-in-out;
}
.btn:hover {
  background-color: var(--btn-alpha);
  border-color: var(--btn-alpha);
  color: var(--btn-secondary);
}
.btn:active {
  background-color: var(--btn-alpha);
  border-color: var(--btn-alpha);
  color: var(--btn-secondary);
  box-shadow: none;
}
.btn:focus,
.btn:active:focus {
  background-color: var(--btn-alpha);
  border-color: var(--btn-alpha);
  color: var(--btn-secondary);
  outline: 5px auto var(--btn-alpha);
}

.btn-secondary {
  border: 2px solid var(--btn-beta);
  color: var(--btn-beta);
  background-color: var(--btn-secondary);
  transition: all 0.25s ease-in-out;
}
.btn-secondary:hover {
  background-color: var(--btn-beta);
  border-color: var(--btn-beta);
  color: var(--btn-secondary);
}
.btn-secondary:active {
  background-color: var(--btn-beta);
  border-color: var(--btn-beta);
  color: var(--btn-secondary);
  box-shadow: none;
}
.btn-secondary:focus,
.btn-secondary:active:focus {
  background-color: var(--btn-beta);
  border-color: var(--btn-beta);
  color: var(--btn-secondary);
  outline: 5px auto var(--btn-beta);
}

.home-page footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
}

.footer-icon {
  margin: 0 0.2em;
  padding: 0;
  height: 1em;
  width: 1em;
  transform: translateY(0.1em);
}

/* Survival Page Component */
/* Survial Page and Classic Page Components Joint Decelartions */

.survival-page,
.classic-page {
  min-height: 100vh;
  background: lightblue url(./assets/park-troopers-RAtKWVlfdf4-unsplash.jpg);
  background-repeat: repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2em 5em;
}

/* Survial Page and Classic Page Components Joint Decelartions */

.survival-page nav,
.classic-page nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.survival-page nav button {
  border: 2px solid var(--btn-beta);
  color: var(--btn-beta);
  background-color: var(--btn-secondary);
  transition: all 0.25s ease-in-out;
  padding: 1em 3em;
}

.survival-page nav button:hover {
  background-color: var(--btn-beta);
  border-color: var(--btn-beta);
  color: var(--btn-secondary);
}

.survival-page nav button:active {
  background-color: var(--btn-beta);
  border-color: var(--btn-beta);
  color: var(--btn-secondary);
  box-shadow: none;
}

.survival-page nav button:focus,
.survival-page nav button:active:focus {
  background-color: var(--btn-beta);
  border-color: var(--btn-beta);
  color: var(--btn-secondary);
  outline: 5px auto var(--btn-beta);
}

/* Survial Page and Classic Page Components Joint Decelartions */

.survival-page nav p,
.classic-page nav p {
  text-transform: uppercase;
  font-family: var(--3d-font);
  font-size: 2em;
}

.linkedin-nav-icons,
.github-nav-icons {
  height: 1.6em;
  width: 1.6em;
}

.github-nav-icons {
  margin-left: 1.3em;
}

.survival-page main {
  margin-top: 3em;
}

.survival-page main .scoreboard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3em;
  font-family: var(--3d-font);
}

.survival-page main .card {
  width: 240px;
  height: 320px;
  background: var(--btn-beta);
}

.survival-page main .cards {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 3em;
  place-items: center;
}

/* Classic Page Component */

.classic-page nav button {
  border: 2px solid var(--btn-alpha);
  color: var(--btn-alpha);
  background-color: var(--btn-secondary);
  transition: all 0.25s ease-in-out;
  padding: 1em 3em;
}

.classic-page nav button:hover {
  background-color: var(--btn-alpha);
  border-color: var(--btn-alpha);
  color: var(--btn-secondary);
}

.classic-page nav button:active {
  background-color: var(--btn-alpha);
  border-color: var(--btn-alpha);
  color: var(--btn-secondary);
  box-shadow: none;
}

.classic-page nav button:focus,
.classic-page nav button:active:focus {
  background-color: var(--btn-alpha);
  border-color: var(--btn-alpha);
  color: var(--btn-secondary);
  outline: 5px auto var(--btn-alpha);
}
